

.header {

    height: 675px; 
    background: url('/component/header/header.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover; 
    -o-background-size: cover;

}

.rectangle1 {

    background-color: #00A1E1;
    width: 100%;
    height: 8.5px;
    
}

.rectangle2{

    height: 131px;
    background-color: #fff;

}

.logo {

    margin-left:131px;
    margin-top: 34px;
}


.button-header{

    margin-top: 12px;

}
.dropdown{

    display: inline-block;
}
