<link rel="stylesheet" href="component/header/header.css">

<div class="header">

    <!--Preload -->
    <div class="row"><div class="col-sm-12 rectangle1"></div></div>

    <!--Heade White --> 

    <div class="row">
        <div class="col-sm-12 rectangle2">
            <div class="row">

                <div class="col-sm-8"><img src="component/header/logo.png" class="logo animated bounceIn"></img>
                </div>

                <div class="col-sm-4 button-header">


                <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="moneda" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                USD
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="moneda">
                <li><a href="#">SOLES</a></li>
                </ul>
                </div>


                <div class="dropdown">
               
                <button class="btn btn-default dropdown-toggle" type="button" id="language" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                English
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="language">
                <li><a href="#">Spanish</a></li>
                </ul>

            

                </div>

                <button type="button" class="btn btn-default"><i class="fa fa-user" aria-hidden="true"></i> My Account </button>


                 
                  

                </div>

            </div>

        </div>
    </div>



</div>



    

    


