


<link rel="stylesheet" href="component/filtro/filtro.css">


<div class = "panel panel-default">
   <div class = "panel-body">



  <div ng-repeat="chip in chips" class="data">

   <div class="chip">
		<img src="http://pictures.solardestinations.com/images/packages/peru/cuz-hatumrumiyocstreet-200.jpg" alt="Person" width="96" height="96">
		 {{chip.name}}
		<span class="closebtn" onclick="this.parentElement.style.display='none'" ng-click="add(chip,$index)">&times;</span>
		</div>

  </div>

		
		<input ng-change="search()"  type="text" ng-model="tipo" placeholder="Add More..">


   </div>
</div>




<ul class="list-group">

  <li ng-show='fil' ng-mouseenter="hover = true" ng-mouseleave="hover = false" class="list-group-item" ng-class='{active: hover}' ng-repeat="contact in datax " ng-click="addchip(contact,$index)">

   <span><img src="http://pictures.solardestinations.com/images/packages/peru/cuz-hatumrumiyocstreet-200.jpg" class="img-responsive chip1" alt="Cinque Terre"></span> {{contact.name}} 

  </li>

</ul>


