




          Date & Occupancy

          Resltados...{{vertical}}

          <div class='row'>



                <div class="col-md-6">

                  <label for="repeatSelect"> {{ 'CHECKIN' | translate}} </label>
                  <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="model.checkin" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </p>
                </div>

                <div class="col-md-6">

                  <label for="repeatSelect"> {{ 'CHECKOUT' | translate}} </label>
                  <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup ng-model="model.checkout" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </p>
                </div>

  

                <div class="col-md-4">

              
                <label for="repeatSelect"> {{ 'ADULTS' | translate}} </label>
              

                <input type="number" ng-model="model.adults" class="form-control" >

                </div>

                <div class="col-md-4">
         

               <label for="repeatSelect"> {{ 'CHILDRENS' | translate}} </label>
                <input type="number" ng-model="model.ninos" class="form-control" >

                </div>

                <div class="col-md-4">


                <label for="repeatSelect"> {{ 'ROOMS' | translate}} </label>
                <input type="number" ng-model="model.rooms" class="form-control" >


                </div>


             


    </div>


         <div class="row">

    Interes

    <div class="checkbox">
      <label>
        <input type="checkbox" value="">
        Natacion
      </label>
    </div>

     <div class="checkbox">
      <label>
        <input type="checkbox" value="">
        Trekking
      </label>
    </div>



    </div>



    <div class="row">



    Clasification

    <div class="checkbox">
      <label>
        <input type="checkbox" value="">
        One Star
      </label>
    </div>

      <div class="checkbox">
      <label>
        <input type="checkbox" value="">
        Two Star
      </label>
     </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" value="">
        Three Star
      </label>
     </div>

     <div class="checkbox">
      <label>
        <input type="checkbox" value="">
        Four Star
      </label>
     </div>

     <div class="checkbox">
      <label>
        <input type="checkbox" value="">
        Five Star
      </label>
     </div>

    </div>


      <div class="row">

    Price

    <div class="checkbox">
      <label>
        <input type="checkbox" value="">
        Low to High
      </label>
    </div>

     <div class="checkbox">
      <label>
        <input type="checkbox" value="">
        High to Low
      </label>
    </div>



    </div>


       <div class="row">

    Types

    <div class="checkbox">
      <label>
        <input type="checkbox" value="">
        Basic
      </label>
    </div>

     <div class="checkbox">
      <label>
        <input type="checkbox" value="">
        Premium
      </label>
    </div>



    </div>




    <!--

    <div class="row">
      <div class="col-md-6">
        <label>Format: <span class="muted-text">(manual alternate <em>{{altInputFormats[0]}}</em>)</span></label> <select class="form-control" ng-model="format" ng-options="f for f in formats"><option></option></select>
      </div>
    </div>


    <hr />
    <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
    <button type="button" class="btn btn-sm btn-default" ng-click="setDate(2009, 7, 24)">2009-08-24</button>
    <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
    <button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" uib-tooltip="After today restriction">Min date</button>
  -->