<header name ='promise'></header>




<div class='container'>

<div class='row'>

			<div class='col-md-4 col-xs-12'>

			Name:

			<input ng-model='puzzle.name' type="text" name="" id="input" class="form-control">
			</div>

			<div class='col-md-1 col-xs-12'>

			Filas:

			<input ng-model='puzzle.rows' type="number" name="" id="input" class="form-control">
			</div>
			<div class='col-md-1 col-xs-12'>

			Columnas:

			<input ng-model='puzzle.cols' type="number" name="" id="input" class="form-control">
			</div>
			<div class='col-md-6 col-xs-12'>


			URL Image:


			<input ng-model='puzzle.src' type="text" name="" id="input" class="form-control">


			</div>
		


			<div class='col-md-12 col-xs-12'>

			<br>
			<a ng-click='add(puzzle)' class='btn btn-success'>Lanzar rompecabeza</a>
			</div>
</div>

<br>




<div class='row'>
<div ng-repeat="model in puzzles| orderBy:-nclicks" " class='col-md-3 col-xs-12' >
    
		<div class="panel panel-default" ng-click ='data(model)'>
		<div class="panel-heading">{{model.name}}  {{model.rows}} x {{model.cols}} 

		<span style="float:right; color:#AE4B86;">Puntos: {{model.nclicks}}</span>


		<i ng-click='delete(model)' class="fa fa-trash" aria-hidden="true"></i>

		</div>
		<div class="panel-body" ng-click='go(model)'>


			 <center>


        <img class="img-responsive" width="90%"   src='{{model.src}}'></center>
      
	
		</div>
		</div>

</div>





</div>



