
<div class = "panel panel-default">


   <div class = "panel-body">


  <div ng-repeat="chip in chips" class="data">

   <div class="chip" ng-class="{city: chip.categoria === 'City'}">
		<img src="{{chip.photo__url}}" alt="Person" width="96" height="96">
		 {{chip.name}}
	

    <i ng-click="add(chip,$index)" class="fa fa-times" aria-hidden="true"></i>
		</div>

  </div>

		
		<input ng-change="search()"  type="text" ng-model="tipo" placeholder="Add More..">

   
    
    <a ><img src="/dist/img/search_home@2x.png" ng-click="search_hotels()" ng-class="{active: hover,city}"> </a>


    
   </div>
</div>


<ul ng-show = "listgroup" class="list-group">

  <li ng-show='fil' ng-mouseenter="hover = true" ng-mouseleave="hover = false" class="list-group-item" ng-class="{active: hover,city: contact.categoria === 'City',interes: contact.categoria === 'Interes'}" ng-repeat="contact in datax " ng-click="addchip(contact,$index)">


   <span><img src="{{contact.photo__url}}" class="img-responsive chip1" alt="Cinque Terre"></span> {{contact.name}} 

  </li>

</ul>


 <listhoteldetail ng-show = "filtropri" ng-repeat="item in hotels" hotels="item" ></listhoteldetail>





<web ng-show="web" hotels="$ctrl.hoteles" chips1='chips'></web>


<!--<div class="row">

<div class="col-sm-4">

    <div class = "panel panel-default">
       <div class = "panel-body">


        <searchvert hotels="$ctrl.hoteles" chips='chips'></searchvert>

        </div>
    </div>
  
</div>

<div class="col-sm-8">

      <div class='row'>

      <div class="col-sm-12">

      <listhoteldetail ng-show = "filtropri" ng-repeat="item in hotels" hotels="item" ></listhoteldetail>

      </div>

      <div class="col-sm-12">

      <listhotels ng-show = "filtrosec" data="$ctrl.hoteles"></listhotels>

      </div>

      </div>

      

</div>


</div>-->



